In [1]:
import pandas as pd
import numpy as np

In [14]:
nike_df = pd.read_csv("dataset/nike_2020_04_13.csv")
adidas_df = pd.read_csv("dataset/Adidas final.csv", delimiter=";")

In [16]:
adidas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2625 entries, 0 to 2624
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   URL            2625 non-null   object
 1   Product Name   2625 non-null   object
 2   Product ID     2625 non-null   object
 3   Listing Price  2625 non-null   int64
 4   Sale Price     2625 non-null   int64
 5   Discount       2625 non-null   int64
 6   Brand          2625 non-null   object
 7   Description    2625 non-null   object
 8   Rating         2625 non-null   int64
 9   Reviews        2625 non-null   int64
 10  Images         2625 non-null   object
 11  Last Visited   2625 non-null   object
dtypes: int64(5), object(7)
memory usage: 246.2+ KB

In [17]:
nike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643 entries, 0 to 642
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   URL            643 non-null    object
 1   Product Name   643 non-null    object
 2   Product ID     643 non-null    object
 3   Listing Price  643 non-null    int64
 4   Sale Price     643 non-null    int64
 5   Discount       643 non-null    int64
 6   Brand          643 non-null    object
 7   Description    640 non-null    object
 8   Rating         643 non-null    float64
 9   Reviews        643 non-null    int64
 10  Images         572 non-null    object
 11  Last Visited   643 non-null    object
dtypes: float64(1), int64(4), object(7)
memory usage: 60.4+ KB

In [25]:
usefuk_cols = ["Product Name", "Product ID", "Sale Price", "Brand", "Description"]
my_nike  = nike_df[usefuk_cols]

In [30]:
my_nike["Sale Price"].isnull().values.any()

False

In [36]:
my_nike['Description'].isnull().sum()

3

In [37]:
my_nike[my_nike.isna().any(axis=1)]

                        Product Name  Product ID  Sale Price Brand Description
155  Nike React Infinity Run Flyknit  CD4371-001       13995  Nike         NaN
263  Nike React Infinity Run Flyknit  CD4372-004       13995  Nike         NaN
508             Nike Free X Metcon 2  CD8526-446        9995  Nike         NaN

In [51]:
my_nike[my_nike.duplicated(subset=['Product Name'])]

,Product Name,Product ID,Sale Price,Brand,Description
7,Nike Free Metcon 3,CJ0861-017,9995,Nike,The Nike Free Metcon 3 combines Nike Free flex...
11,Nike Air Force 1 '07,315115-112,7495,Nike,The radiance lives on in the Nike Air Force 1 ...
16,Nike Air Max 270 React ENG,CK2608-100,14995,Nike,Refresh your step in the Nike Air Max 270 Reac...
18,Nike Air Force 1 '07,CJ1379-001,7995,Nike,The legend lives on in the Nike Air Force 1 '0...
20,Nike Air Max 97,CT4525-001,15995,Nike,Remastered from the OG that shook up the runni...
...,...,...,...,...,...
636,Kyrie 6 'Enlightenment',BQ4630-500,8797,Nike,"In spiritual circles, the colour purple repres..."
637,Nike React Metcon AMP,CT9155-063,13995,Nike,The Nike React Metcon AMP takes the stability ...
639,Nike Phantom Venom Club IC,AO0578-717,3497,Nike,The Nike Phantom Venom Club IC is engineered f...
640,Nike Mercurial Superfly 7 Academy TF,AT7978-414,5947,Nike,The soft upper of the Nike Mercurial Superfly ...
641,Nike Air Max 98,AH6799-300,16995,Nike,The Nike Air Max 98 features the OG design lin...

,Product Name,Product ID,Sale Price,Brand,Description
45,Nike Air Max 98,CJ0592-001,16995,Nike,"Always one step ahead, the Nike Air Max 98 fea..."
217,Nike Air Max 98,640744-016,10197,Nike,The Air Max 98 rode the wave of its legendary ...
584,Nike Air Max 98,CT1531-001,15995,Nike,At a local football club in the gritty Parisia...
597,Nike Air Max 98,CI3709-001,16995,Nike,The Nike Air Max 98 brings back retro Air Max ...
641,Nike Air Max 98,AH6799-300,16995,Nike,The Nike Air Max 98 features the OG design lin...